venv/
bot_env/
faith_env/
server_env/
v2_env/
.env
bots/.env
*.sqlite3
*.bin
*.pickle
vector_db/
data/vector_db/
*.gguf
model/*.gguf
model/qvikhr-grant-merged/
model/qvikhr-grant-lora/checkpoint-*/
model/qvikhr-grant-lora/*.safetensors
model/qvikhr-grant-lora/*.bin
model/qvikhr-grant-lora/*.pt
data/raw_pdfs/
__pycache__/
*.pyc
*.pickle
.idea/
backend_v2/
chroma_db/
